
<div class="container py-5">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="font-weight-bold mb-4">About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus eros sit amet lorem fringilla, id eleifend risus consequat. Duis ut ultrices arcu. Nullam vestibulum, risus quis commodo luctus, justo nulla tincidunt metus, sed molestie risus velit ut felis.</p>
            <p>Quisque id ante eu mauris feugiat tincidunt id sit amet libero. Sed tincidunt nec arcu eu finibus. Vivamus rutrum nulla nec velit rhoncus, vel eleifend enim sollicitudin.</p>
            <p>Sed dictum tellus nec felis molestie, at vestibulum purus aliquam. Nullam vel luctus velit, quis sagittis eros. Proin auctor, justo non posuere luctus, nibh odio faucibus lectus, sit amet gravida est quam sed libero.</p>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid rounded-circle mb-4" src="./assets/images/logo-white.svg" alt="About Us">
        </div>
    </div>
</div>
<div class="jumbotron text-center">
    <h1 class="display-4">We're Here to Serve You</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel nisi nec ante posuere mollis vel at velit.</p>
    <hr class="my-4">
    <p>Learn more about our services and how we can help you.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a>
</div>

