.logo,.heading1, .logincredentials{
    position: absolute;
    margin-top: -660px;
    margin-left: 1043px;
}
p {
    margin-top: -9px;
    margin-bottom: 1rem;
}
.heading1 .subheading1{
    color:rgb(231, 11, 11);
    padding-left: 65px;
    font-size: 40px;
    font-weight: bold;
}
.heading1 .subheading2{
    padding-top: 0px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    align-items: center;
}
 .subheading3{
    padding-top: 0;
    font-size: 15px;
    opacity: 0.8;
    
}
.username,.password,.emailid,.phoneno{
    border-radius: 5px;
    margin-top:5px ;
    padding-top: 5px;
    width: 395px;
    height: 58px;
    font-size: larger;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.uname{
    padding-top: 130px;
    font-weight: bold;
    font-size: x-large;

}
.email,.phone{
    padding-top: 20px;
    font-weight: bold;
    font-size: x-large;
}
.psw{
    padding-top: 20px;
    font-weight: bold;
    font-size: x-large;  
}

 .cbox{
  
    margin-top:25px;
    padding-top: 8px;
    font-size: larger;
    width: 20px;
    box-sizing: border-box;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    vertical-align: middle;
}
.rememberme{
    margin-top:25px;

    vertical-align: middle;
    font-size: large;
    margin-left: 5px;
}
.fogotpsw{
    margin-top:25px;
    padding-top: 8px;
    font-size: large;
    margin-left: 111px;
}
button{
    background-color: orangered;
    color: white;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    width: 390px;
    height: 57px;
    margin-left: 10px;
}