<nav class="navbar navbar-expand-lg" style="background-color: #030168;" *ngIf="!isLoginPage && !isSignup && !isforgot">

  <!-- Navbar content -->
  <div class="container-fluid" style="color: white;">
    <a class="navbar-brand" href="#" style="color: white; font-size: 30px;">
        <img src="./assets/images/logo-white.svg"><strong> Meal Facility</strong>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div>
            <h4>Hii, {{fullname}}</h4>
        </div>
        <ul class="navbar-nav justify-content-end ms-auto" >
            
            <li class="nav-item">
                <a class="nav-link " aria-current="page" routerLink="home" style="color: white; font-size: 20px;">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="aboutus" style="color: white; font-size: 20px;">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="policies" style="color: white; font-size: 20px;">Policies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="termscondition" style="color: white; font-size: 20px;">Terms & Conditions</a>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-light" (click)="logout()"  style="font-size: 20px;">Logout</button>
            </li>

        </ul>
    </div>
</div>
</nav>


<router-outlet></router-outlet>
<ng-toast></ng-toast>
